html{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0px;
}
#border{
    margin: 0px;
    width: 88%;
    height: 632px;
    border-left: 6px solid #5bc0de;
    border-top: 6px solid #5bc0de;
    border-bottom: 6px solid #5bc0de;
    margin-left: 1em;
    border-radius: 12px;
    box-shadow: 14px 0 0 0 #5bc0de;
}
#top{
    height: 20%;
    border: 1px solid #999999;
    border-radius: 7px;
    box-shadow: 0px 9px 0 0px #5bc0de;
}
#bottom{
    height: 78%;
    border: 1px solid #999999;
    margin-top:5%;
    border-radius: 6px;
    box-shadow: 0px -8px 0 0 #5bc0de;
}
ul{
    padding-left: 1em;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    margin-bottom: 1em;
}
.fa{
  padding-right: 0.7em;
}