html{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0px;
}

#border_index{
    width: 100%;
    height: 600px;
    padding: 1em;
    border: 6px solid #5bc0de;
}